@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

* {
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: "Marcellus SC", serif;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section{
  display: block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
}

#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  background-color: #000000;
}

.landing {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.kudos-title {
  font-size: 10vw;
  color: white;
  font-family: "Marcellus SC", serif;
  letter-spacing: 10px;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glow {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
  }
  to {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
  }
}

#welcome {
  color: whitesmoke;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

.welcome-container{
  display: grid ;
  height: 100%;
  width: 100%;
}
.about-us{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.take-break{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-us{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner{
  color: #bcd1dd;
  margin: 1.75vw; /* Updated to use relative units */
  padding: 0.625vw; /* Updated to use relative units */
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #27374D;
  height: 100%;
}

.inner > h1 {
  text-align: center;
  font-size: 3.125vw;
  margin: 0.625vw;
  padding: 0.625vw;
  text-underline-offset: 0.625vw;
}

.inner > p {
  text-align: justify;
  font-size: 1.15vw;
  margin: 0.725vw;
  padding: 0.725vw;

}
